<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.backmarket.demo.my_feature" >

    <application>
        <activity
            android:name="com.backmarket.demo.my_feature.MyFeatureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
